

.buttons button {
	height: 46px;
	border-radius: 30px;
	font-size: 15px;
	padding: 0 25px;
	background-color: #F9F9F9;
	transition: background-color 0.1s linear;
	color: #000;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.buttons button:hover {
	background-color: #000;
	color: #fff;
}

.buttons a {
	margin-right: 30px;
	height: 46px;
}