.products {
	width: 150px;
	height: 250px;
	border: 1px solid black;
	border-radius: 30px;
	position: relative;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
}

.products img {
	max-width: 100px;
	margin: 0 25px;
}

.content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	position: relative;
	padding-bottom: 50px;
}