*,
*:before,
*:after {
	box-sizing: border-box;
}

.App {
	background-color: #fff;
	width: 100%;
	min-height: 820px;
	position: relative;

	width: 100%;
	max-width: 1230px;

	margin: 30px auto;
	padding: 0 30px;
	border-radius: 10px;
}